html {
    font-size: 22px;
    font-family: "Kosugi Maru";
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    background-color: #282a36;
}
h1 {
    font-size: 40px;
    color: #6272a4;
    text-align: center;
    padding-bottom: 0;
}
.date {
    text-align: center;
    color: #6272a4;
    font-size: 40px;
    padding-bottom: 10px;
}
.time {
    text-align: center;
    padding-bottom: 25px;
    color: #6272a4;
}
.search {
    padding: 4px;
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    background: #44475a;
    border-radius: 30px;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: #6272a4;
    font-size: 20px;
}
nav {
    text-align: center;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    width: 220px;
}
p.work {
    color: #50fa7b;
    text-align: center;
    margin: 10px;
}
p.keebs {
    color: #ff79c6;
    text-align: center;
    margin: 10px;
}
p.media {
    color: #f1fa8c;
    text-align: center;
    margin: 10px;
}
a {
    color: #f8f8f2;
    list-style: none;
    text-decoration: none;
    text-align: center;
}
a:hover {
    color: #bd93f9;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}